@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* All three... */

:root {
    --white: #fafbfd;
    /* --white: red; */
    --white2: #fafbfd66;
    --white3: #fafbfd80;
    --rose: #ee93b4;
    --dk-rose: #D34D70;
    --lt-leaf: #90c754;
    --lt-leaf2: #8fc754d8; 
    --dk-leaf: #175f3a;
    --dk-leaf2: #175f3a80;
    --blue-iron: #01393a;
    --font-title:  "Dancing Script", cursive;
    --font-main: "Roboto Condensed", sans-serif;
    --h1: 2.25rem;
    --h2: 1.5rem;
    --p: 1.25rem
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    margin: auto;
}

/* #title {
    height: auto;
    width: 100vw;
    background-color: var(--blue-iron);
    border-top: 5px double var(--white);
        border-bottom: 5px double var(--white);
    color: var(--white);
    display: flex;
    flex-direction: column;
        justify-content: center;
        align-items: center;
    font-family: var(--font-title);
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    padding: .5rem 0 .5rem 0;
} */

#subtitle {
    display: flex;
        justify-content: center;
        align-items: center;
}

/* h1 {

}

h2 {

} */

h1, h2 {
    margin: 0;
    padding:0
}

/* .leaf {
    width: 2rem;
}  */

nav {
    height: fit-content;
    z-index: 5;
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 95%;
    background-color: var(--blue-iron);
    border-bottom: 5px double var(--white);
    color: var(--white);
    display: flex;
        justify-content: center;
        align-items: center;
    padding: .5rem;
}

button {
    height: 2rem;
    width: 4.25rem;
    /* background: var(--dk-leaf2); */
        background: var(--blue-iron);
    /* background: radial-gradient(circle, var(--dk-rose) 10%, var(--rose) 95%); */
    border: none;
    border-radius: 5rem;
    color: var(--white);
    display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    font-family: var(--font-title);
    font-size: 1rem;
    font-weight: 900;
    /* margin: .25rem; */
    outline: none;
    padding: .25rem;
}

button:hover {
    /* background: var(--dk-rose); */
    border: .75px double var(--rose);
    /* border-bottom: 1px solid var(--rose);
        border-left: 1px solid var(--rose);
                border-right: 1px solid var(--rose);
                border-top: 1px solid var(--rose); */
    color: var(--rose);
    /* transform: scale(1.15); */
}

button:focus {
    background-color: var(--dk-leaf );
}

button:active {
    /* background: radial-gradient(circle, var(--rose) 65%, var(--white) 95%); */
    transform: scale(.9);
}

footer {
    z-index: 5;
    position: fixed; 
    top: 95%; 
    left: 0; 
    right: 0; 
    bottom: 0;
    /* height: auto;
    width: auto; */
    background-color: var(--blue-iron);
    border-top: 5px double var(--white);
    color: var(--white);
    display: flex;
        justify-content: space-evenly;
        align-items: center;
    font-family: var(--font-title);
    font-optical-sizing: auto;
    font-weight: 900;
    font-size: 1rem;
    font-style: normal;
    padding: 1rem;
}

/* ELEMENTS FOUND ON EVERY PAGE */

#splash-image, #about-image, #events-image, #hours-image, #location-image, #menu-image {
    height: 100vh;
    width: auto;
    z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo { 
    height: 6rem;
}

.logo2 { 
    height: 9rem;
}

.pad-top-bot {
    margin: 1.35rem 0 1.35rem 0;
}

#arkham-map-image {
  height: auto;  
  width: 250px;
  margin: .5rem;
}


/* SPLASH PAGE */

#splash, #about, #events, #hours, #location, #menu {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
    overflow: hidden;
}

/* #splash-image {
    height: 100vh;
    width: auto;
    z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

#store-name-cont {
    height: fit-content;
    width: auto;
    position: fixed; 
    top: 15%; 
    left: 0; 
    right: 0; 
    bottom: 0%;
    z-index: 10;
    background-color: var(--white3);
    /* border-top: 5px double var(--white);
        border-bottom: 5px double var(--white); */
    color: var(--blue-iron);
    display: flex;
    flex-direction: column;
        justify-content: center;
        align-items: center;
    font-family: var(--font-title);
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    padding: .25rem;
}

#store-name {
    font-size: var(--h1);
}

#store-name-sub {
    font-size: var(--h2);
        white-space: pre; 
}

#store-name, #store-name-sub  {
    z-index: 10;
    margin: 0;
    padding:0
}

#subtitle {
        z-index: 10;
    display: flex;
}

.leaf {
    z-index: 10;
    width: 2rem;
}


/* HOURS PAGE */

/* #hours {
    height: 100vh;
    width: auto;

    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
} */

/* #hours-image {
  position: absolute;
      z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}  */

#schedule-cont, #about-cont, #events-cont, #location-cont, #menu-cont {
    height: fit-content;
    width: 300px;
    z-index: 5;
    background-color: var(--lt-leaf2);
    /* border: 5cm double var(--blue-iron); */
    border-radius: 3rem;
    color: var(--blue-iron);
    display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    /* opacity: .8; */
    font-family: var(--font-main);
    margin: 0;
    padding: 0 1rem 1rem 1rem;
    text-align: center;
}



#hours-of-operation, #about-header, #location-header {
    font-size: var(--h2);
}

#schedule-cont p, #about-cont p, #events-cont p, #location-cont p, #menu-cont p {
    font-size: var(--p);
}

.p-center {
    display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
}

#schedule-cont h2, #schedule-cont p {
    font-weight: 500;
}

#days-times {
    display: flex;
        justify-content: start;
        align-items: start;
    text-align: left;
}

/* Below fixes spacing issue with dynamically rending from the json file. */
#days, #times {
    white-space: pre; 
}


/* Events Page */



/* Menu Page */


/* About Page */