@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* All three... */

:root {
    --white: #fafbfd;
    /* --white: red; */
    --white2: #fafbfd66;
    --white3: #fafbfd80;
    --rose: #ee93b4;
    --dk-rose: #D34D70;
    --lt-leaf: #90c754;
    --dk-leaf: #175f3a;
    --dk-leaf2: #175f3a80;
    --blue-iron: #01393a;
    --font-title:  "Dancing Script", cursive;
    --font-main: "Roboto Condensed", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    margin: auto;
}

/* header {
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 82%;
    z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    padding: .5rem 0 .5rem 0;
}

#title {
    height: auto;
    width: 100vw;
    background-color: var(--blue-iron);
    border-top: 5px double var(--white);
        border-bottom: 5px double var(--white);
    color: var(--white);
    display: flex;
    flex-direction: column;
        justify-content: center;
        align-items: center;
    font-family: var(--font-title);
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    padding: .5rem 0 .5rem 0;
}

#subtitle {
    display: flex;
        justify-content: center;
        align-items: center;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1.5rem;
}

h1, h2 {
    margin: 0;
    padding:0
}

.leaf {
    width: 2rem;
} */

/* nav {
    height: auto;
    width: 100vw;
    background-color: var(--blue-iron);
    border: 5px double var(--white);
    display: flex;
        justify-content: center;
        align-items: center;
} */

header {
    /* height: 4rem;
    padding: 1rem; */
}

nav {
    height: fit-content;
    z-index: 5;
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 95%;
    /* height: auto;
    width: auto; */
    background-color: var(--blue-iron);
    border-bottom: 5px double var(--white);
    color: var(--white);
    display: flex;
        justify-content: center;
        align-items: center;
    /* font-family: var(--font-title);
    font-optical-sizing: auto;
    font-weight: 900;
    font-size: .95rem;
    font-style: normal; */
    padding: .2rem;
}

button {
    height: 2.5rem;
    width: 5rem;
    /* background: var(--dk-leaf2); */
        background: var(--blue-iron);
    /* background: radial-gradient(circle, var(--dk-rose) 10%, var(--rose) 95%); */
    border: none;
    border-radius: 1rem;
    color: var(--white);
    display: flex;
        justify-content: center;
        align-items: center;
    font-family: var(--font-title);
    font-size: 1rem;
    font-weight: 900;
    margin: .5rem;
    outline: none;
    padding: .25rem;
}

button:hover {
    /* background: var(--dk-rose); */
    border-bottom: 5px solid var(--rose);
        border-left: 2px solid var(--rose);
                border-right: 2px solid var(--rose);
                border-top: 1px solid var(--rose);
    color: var(--rose);
    transform: scale(1.2);
}

button:active {
    /* background: radial-gradient(circle, var(--rose) 65%, var(--white) 95%); */
    transform: scale(.9);
}

footer {
    z-index: 5;
    position: fixed; 
    top: 95%; 
    left: 0; 
    right: 0; 
    bottom: 0;
    /* height: auto;
    width: auto; */
    background-color: var(--blue-iron);
    border-top: 5px double var(--white);
    color: var(--white);
    display: flex;
        justify-content: space-evenly;
        align-items: center;
    font-family: var(--font-title);
    font-optical-sizing: auto;
    font-weight: 900;
    font-size: 1rem;
    font-style: normal;
    padding: 1rem;
}
/* 
#MMM {
        margin: .5rem;
    outline: none;
    padding: .5rem;
} */


/* SPLASH PAGE */

#splash {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
    overflow: hidden;
}

#splash-image {
    height: 100vh;
    width: auto;
    z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#store-name-cont {
    height: fit-content;
    width: auto;
    position: fixed; 
    top: 15%; 
    left: 0; 
    right: 0; 
    bottom: 0%;
    z-index: 10;
    background-color: var(--white3);
    /* border-top: 5px double var(--white);
        border-bottom: 5px double var(--white); */
    color: var(--blue-iron);
    display: flex;
    flex-direction: column;
        justify-content: center;
        align-items: center;
    font-family: var(--font-title);
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    padding: 2.5rem 0 2.5rem 0;
}

#store-name {
    font-size: 2.5rem;
}

#store-name-sub {
    font-size: 2rem;
        white-space: pre; 
}

#store-name, #store-name-sub  {
    z-index: 10;
    margin: 0;
    padding:0
}

#subtitle {
        z-index: 10;
    display: flex;
}

.leaf {
    z-index: 10;
    width: 2rem;
}

.circle {
    height: 500px;
    width: auto;
    align-self: center;
    justify-self: center;
    /* z-index: 5;
        position: fixed; 
    top: 35%; 
    left: 10%; 
    right: 0; 
    bottom: 50%; */
    z-index: 3;
}


/* Home Page */

#home {
    height: 100vh;
    width: auto;
    /* background-color: red; */
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}



/* #home-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

#hours-location {
    height: fit-content;
    width: 300px;
    z-index: 10;
    background-color: var(--white2);
    /* border: 5cm double var(--blue-iron); */
    border-radius: 3rem;
    color: var(--blue-iron);
    display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    /* opacity: .8; */
    font-family: var(--font-main);
    padding: 0 1.5rem 1.5rem 1.5rem;
    text-align: center;
}

.logo {
    height: 4rem;
    /* padding-top: .5rem; */
}

#hours-location h2 {
    font-size: 1.5rem;
}

#hours-location p {
    font-size: 1rem;
}

.p-center {
    display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
}

#hours-location h2, #hours-location p {
    font-weight: 900;
}

#days-times {
    display: flex;
        justify-content: start;
        align-items: start;
    text-align: left;
}

/* Below fixes spacing issue with dynamically rending from the json file. */
#days, #times {
    white-space: pre; 
}


/* Events Page */



/* Menu Page */


/* About Page */