@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* ***** TABLE OF CONTENTS ***** */
/* ROOT/GENERAL                  */
/* NAV BAR AND FOOTER            */
/* HOME/SPLASH PAGE ONLY         */
/* PAGES IN GENERAL              */
/* EVENT/MENU PAGE FLEX TILES    */
/* MEDIA QUERIES                 */
/* ***** TABLE OF CONTENTS ***** */


/* ROOT/GENERAL                  */
:root {
    --white: #fafbfd;
    --white2: #fafbfd66;
    --white3: #fafbfd80;
    --rose: #ee93b4;
    --dk-rose: #D34D70;
    --lt-leaf: #90c754;
    --lt-leaf2: #8fc754d8; 
    --dk-leaf: #175f3a;
    --dk-leaf2: #175f3a80;
    --blue-iron: #01393a;
    --font-title:  "Dancing Script", cursive;
    --font-main: "Roboto Condensed", sans-serif;
    --h1: 2.25rem;
    --h2: 1.5rem;
    --p: 1.25rem;
    --width: 320px;
    --event-menu-width: 320px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--blue-iron);
    margin: auto;
}

h1, h2 {
    margin: 0;
    padding:0
}


/* NAV BAR AND FOOTER            */

nav {
    height: fit-content;
    z-index: 5;
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 95%;
    background-color: var(--blue-iron);
    border-bottom: 5px double var(--white);
    color: var(--white);
    display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    padding: .5rem;
}

button {
    height: 2rem;
    width: 4.25rem;
    /* background-color: var(--blue-iron); */
    background-color: transparent;
    border: none;
    /* border-radius: 5rem; */
    color: var(--white);
    display: flex;
        justify-content: center;
        align-items: center;
    font-family: var(--font-title);
    font-size: 1rem;
    font-weight: 900;
    outline: none;
    padding: .25rem;
}

button:hover {
    color: var(--rose);
    transform: scale(1.2);
}

button:focus {
    border-bottom: 6px dotted var(--white);
}

button:active {
    transform: scale(.9);
}

footer {
    z-index: 5;
    position: fixed; 
    top: 95%; 
    left: 0; 
    right: 0; 
    bottom: 0;
    background-color: var(--blue-iron);
    border-top: 5px double var(--white);
    color: var(--white);
    display: flex;
        justify-content: space-evenly;
        align-items: center;
    font-family: var(--font-title);
    font-optical-sizing: auto;
    font-weight: 900;
    font-size: 1rem;
    font-style: normal;
    padding: 1rem;
}


/* HOME/SPLASH PAGE ONLY         */

#store-name-cont {
    height: fit-content;
    width: auto;
    position: fixed; 
    top: 15%; 
    left: 0; 
    right: 0; 
    bottom: 0%;
    z-index: 10;
    background-color: var(--white3);
    color: var(--blue-iron);
    display: flex;
    flex-direction: column;
        justify-content: center;
        align-items: center;
    font-family: var(--font-title);
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    padding: .5rem;
}

#store-name {
    font-size: var(--h1);
}

#store-name-sub {
    font-size: var(--h2);
        white-space: pre; 
}

#store-name, #store-name-sub  {
    z-index: 10;
    margin: 0;
    padding:0
}

#subtitle {
    z-index: 10;
    display: flex;
        justify-content: center;
        align-items: center;
}

.leaf {
    z-index: 10;
    width: 2rem;
}


/* PAGES IN GENERAL              */

#splash, #about, #hours, #location {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
    overflow: hidden;
}

#events, #menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 4rem 0 4rem 0;
}

#splash-image, #about-image, #events-image, #hours-image, #location-image, #menu-image {
    height: 100vh;
    width: auto;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#schedule-cont, #about-cont, #location-cont {
    height: fit-content;
    width: var(--width);
    z-index: 2;
    background-color: var(--lt-leaf2);
    border-radius: 3rem;
    color: var(--blue-iron);
    display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    font-family: var(--font-main);
    margin: 0;
    padding: 0 1rem 1rem 1rem;
    text-align: center;
}

#events-cont, #menu-cont {
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: start;
    font-family: var(--font-main);
}

.logo { 
    height: 4.5rem;
}

/* Only used on the about page due to that logo having different dimensions. */
.logo2 { 
    height: 6rem;
}

/* Only used on the location page to even out logo placement. */
.pad-top-bot {
    margin: 1.2rem 0 1.2rem 0;
}

#hours-of-operation, #about-header, #location-header, #menu-header {
    font-size: var(--h2);
    font-weight: 900;
}

#schedule-cont p, #about-cont p, #location-cont p {
    font-size: var(--p);
}

.p-center {
    display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
}

#days-times {
    display: flex;
        justify-content: start;
        align-items: start;
    text-align: left;
}

/* Below fixes spacing issue with dynamically rending from the json file. */
#days, #times {
    white-space: pre; 
}

/* Map circle of Arkham, only used on location page */
#arkham-map-image {
    height: auto;  
    width: 275px;
    margin: .5rem;
}


/* EVENT/MENU PAGE FLEX TILES    */
.event-square, .menu-square {
    height: fit-content;
    width: var(--event-menu-width);
    z-index: 2;
    background-color: var(--rose);
    border-radius: 2rem;
    color: var(--blue-iron);
    display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    margin: .5rem;
    padding: 1rem;
}

.event-square {
    background-color: var(--rose);
}

.menu-square {
    background-color: var(--white);
}

.item, .what {
    font-size: 1.25rem;
    font-weight: 900;
}

.price, .when {
    font-size: 1rem;
    font-style: italic;
}

.description, .blurb {
    font-size: 1rem;
}


/* MEDIA QUERIES                 */

@media screen and (min-width: 600px) {
    :root {
    /* --h1: 2.25rem; */
    --h1: 3rem;
    /* --h2: 1.5rem; */
    --h2: 2rem;
    /* --p: 1.25rem; */
    --p: 1.5rem;
    --width: 500px;
    --event-menu-width: 375px;
    }

    nav {
        gap: .75rem;
        padding: .75rem;
    }   

    button {
        height: 2.75rem;
        width: 7rem;
        font-size: 1.75rem;
        font-weight: 900;
        padding: .5rem;
    }

    button:focus {
        border-bottom: 9px dotted var(--white);
    }


    footer {
        font-size: 1.75rem;
    }

    #store-name-cont {
    padding: 1rem;
}

    .leaf {
        width: 2.5rem;
    }

    .logo { 
        height: 7rem;
    }

    .logo2 { 
        height: 10rem;
    }

    #arkham-map-image {
        width: 375px;
        margin-bottom: 2.25rem;
    }

    .event-square, .menu-square {
        margin: 1rem;
        padding: 1rem;
    }

    .item, .what {
        /* font-size: 1.5rem; */
        font-size: 1.5rem;
    }

    .price, .when {
        /* font-size: 1.25rem; */
        font-size: 1.25rem;
    }

    .description, .blurb {
        /* font-size: 1.25rem; */
        font-size: 1.25rem;
    }

}

